button {
    display: inline-block;
    padding: 10px 20px; /* Задайте отступы вокруг текста кнопки */
    margin: 5px; /* Задайте отступы между кнопками */
    font-size: 16px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов кнопки */
}

button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.button-container {
    text-align: center; /* Центрирование кнопок по горизонтали */
}